@charset "UTF-8";

* {
  font-family: arial;
}

body {
  background-image: linear-gradient(to bottom, #024959, #012e40);
}

main {
  background-color: #026773;
  width: 1000px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #012030;
}

h1 {
  color: #dafdba;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(104, 121, 89);
}
h2,
h3,
h4 {
  color: #dafdba;
}

p {
  text-align: justify;
  color: #dafdba;
}
